# Project exclude paths
/zero-example/zero-sso-demo-by-code/target/
/zero-example/zero-sso-demo-by-password/target/
/zero-framework/zero-common/target/
/zero-framework/zero-spring-boot-starter-banner/target/
/zero-framework/zero-spring-boot-starter-biz-data-permission/target/
/zero-framework/zero-spring-boot-starter-biz-dict/target/
/zero-framework/zero-spring-boot-starter-biz-error-code/target/
/zero-framework/zero-spring-boot-starter-biz-ip/target/
/zero-framework/zero-spring-boot-starter-biz-operatelog/target/
/zero-framework/zero-spring-boot-starter-biz-pay/target/
/zero-framework/zero-spring-boot-starter-biz-sms/target/
/zero-framework/zero-spring-boot-starter-biz-social/target/
/zero-framework/zero-spring-boot-starter-biz-tenant/target/
/zero-framework/zero-spring-boot-starter-captcha/target/
/zero-framework/zero-spring-boot-starter-desensitize/target/
/zero-framework/zero-spring-boot-starter-excel/target/
/zero-framework/zero-spring-boot-starter-file/target/
/zero-framework/zero-spring-boot-starter-flowable/target/
/zero-framework/zero-spring-boot-starter-job/target/
/zero-framework/zero-spring-boot-starter-monitor/target/
/zero-framework/zero-spring-boot-starter-mq/target/
/zero-framework/zero-spring-boot-starter-mybatis/target/
/zero-framework/zero-spring-boot-starter-protection/target/
/zero-framework/zero-spring-boot-starter-redis/target/
/zero-framework/zero-spring-boot-starter-security/target/
/zero-framework/zero-spring-boot-starter-test/target/
/zero-framework/zero-spring-boot-starter-web/target/
/zero-framework/zero-spring-boot-starter-websocket/target/
/zero-module-infra/zero-module-infra-api/target/
/zero-module-infra/zero-module-infra-biz/target/
/zero-module-member/zero-module-member-api/target/
/zero-module-member/zero-module-member-biz/target/
/zero-module-system/zero-module-system-api/target/
/zero-module-system/zero-module-system-biz/target/
/zero-module-topic/zero-module-topic-api/target/
/zero-module-topic/zero-module-topic-biz/target/
/zero-server/target/